:root {

    --royal-blue: #01295f;
    --cerulean: #437f97;
    --olive: #849324;
    --yellow: #ffb30f;
    --red: #fd151b;

}

body {
    background-color: var(--royal-blue);
    margin: 0
}

.gameboard {
    background-color: #080808;
    width: 480px;
    height: 480px;
    margin: 120px auto 0;
    cursor: url(./images/cross.svg), auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 6px;

}

.gameboard * {
    cursor: inherit;
}



.cell {
    background-color: var(--cerulean);
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
}