:root {

    --cross-path: url(./images/cross.svg);
    --circle-path: url(./images/circle.svg);
    --green-cross-path: url(./images/cross-green.svg);
    --green-circle-path: url(./images/circle-green.svg);


    --royal-blue: #01295f;
    --cerulean: #437f97;
    --header-font-color: #ffaa00;
    --bg-color: #01295f;

    --font-color: #facc15;

    --btn-font-color: var(--display-bg-color);
    --btn-bg-color: var(--display-font-color);
    --btn-border-dark: #e08f00;
    --btn-border-light: #ffc531;

    --btn-border-size: 4px;

    --btn-width: 100px;
    --btn-height: 40px;

    /* GAME */
    --game-bg-color: #0e2f66;

    /* DISPLAY */
    --display-font-color: #ffaa00;
    --display-bg-color: #000239;

    /* DIALOG */
    --dialog-bg-color: var(--game-bg-color);
    --dialog-opt-btn-color: var(--btn-border-light);
    --dialog-opt-btn-hover-color: #fed7aa;

}

body {
    background-color: var(--bg-color);
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: 120px 1fr;
    justify-content: center;
}

button {
    color: var(--btn-font-color);
    background-color: var(--btn-bg-color);
    font-weight: bold;
    padding: 0;
    cursor: pointer;

    border-left: var(--btn-border-size) solid var(--btn-border-light);
    border-top: var(--btn-border-size) solid var(--btn-border-light);
    border-right: var(--btn-border-size) solid var(--btn-border-dark);
    border-bottom: var(--btn-border-size) solid var(--btn-border-dark);
}

button:active {
    border-left: var(--btn-border-size) solid var(--btn-border-dark);
    border-top: var(--btn-border-size) solid var(--btn-border-dark);
    border-right: var(--btn-border-size) solid var(--btn-border-light);
    border-bottom: var(--btn-border-size) solid var(--btn-border-light);
}

.game-header {
    color: var(--header-font-color);
    font-size: 3.8rem;
    text-align: center;

    grid-row: 1;
}

.game-container {
    background-color: var(--game-bg-color);
    margin: 16px 0px 32px;
    border: 1px solid #080808;

    box-shadow: 0px 0px 3px 2px #080808 inset;

    grid-row: 2;

    display: grid;
    grid-template-rows: 80px 420px 1fr;
    grid-template-columns: 280px 420px 280px;
}

.display {
    color: var(--display-font-color);
    background-color: var(--display-bg-color);
    font-size: 2.4rem;
    font-weight: bold;
    border: 1px solid #080808;
    border-bottom: 0;
    margin-bottom: 8px;

    box-shadow: 0px 2px 3px #080808;

    grid-row: 1;
    grid-column: 1 / 4;

    display: grid;
    justify-content: center;
    align-items: center;
}

.game-options {
    color: var(--font-color);
    font-weight: bold;
    margin-top: 24px;
}

.player-options {
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.player-container {

    display: grid;
    grid-template-rows: 48px 48px 1fr;
    gap: 6px;
}

.player-container > * {
    margin: auto 52px auto 24px;
}

.player-container > div:last-child {
    visibility: hidden;
}

.player-btn,
.player-score {
    font-size: 1.2rem;
}

.player-btn {
    width: 200px;
    height: 48px;
}

#p1-btn::after {
    content: " (X)";
}

#p2-btn::after {
    content: " (O)";
}

.player-name-input {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}

.player-name-label {
    margin: auto 0px 0px 8px;
}

.player-name-input input,
.player-name-input input:focus {
    color: var(--btn-font-color);
    background-color: var(--cerulean);
    font-size: 1.2rem;
    height: 24px;
    width: 144px;
    outline: none;
    padding-left: 12px;
    border: 0;
    border-radius: 12px;
}

.player-name-input button {
    width: 36px;
    height: 28px;
    margin: 4px 0px 0px 8px;
}

.gameboard {
    background-color: #040020;
    border: 2px solid #040020;
    cursor: none;

    grid-row: 2;
    grid-column: 2;

    --dim: 3;

    display: grid;
    grid-template-columns: repeat(calc(var(--dim)), 1fr);
    grid-template-rows: repeat(calc(var(--dim)), 1fr);
    grid-auto-flow: row;
    gap: 4px;

}

.gameboard * {
    cursor: inherit;
}



.cell {
    background-color: var(--cerulean);
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background-image: url("./images/empty.svg");
}

.cell[marked="X"] {
    background-image: var(--cross-path);
    background-size: cover;
}

.cell[marked="X"].cell[win] {
    background-image: var(--green-cross-path);
    background-size: cover; 
}

.cell[marked="O"] {
    background-image: var(--circle-path);
    background-size: cover;
}

.cell[marked="O"].cell[win] {
    background-image: var(--green-circle-path);
    background-size: cover; 
}

.game-btn-container {
    grid-row: 3;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.game-btn-container button {
    width: var(--btn-width);
    height: var(--btn-height);
    margin: auto;
}

.dim-chooser {
    grid-row: 2;
    grid-column: 3;

    display: grid;
    grid-template-rows: 48px repeat(3, 1fr);
}

.dim-chooser > * {
    margin: auto 24px auto 52px;
}

.dim-chooser h1 {
    margin: 0 auto;
    font-size: 1.6rem;
}

.dim-option {
    margin: auto;
}

.dim-btn {
    width: 128px;
    height: 64px;
}

.cursor-img {
    position: absolute;
    pointer-events: none;
    display: none;
}

.type-player-dialog {
    background-color: var(--dialog-bg-color);
}

.type-player-chooser{
    width: 240px;
    height: 300px;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.type-player-opt {
    color: var(--btn-font-color);
    font-weight: bold;
    background-color: var(--dialog-opt-btn-color);
    border: 0;
    cursor: pointer;
}

.type-player-opt:hover {
    background-color:var(--dialog-opt-btn-hover-color);
}

.type-player-opt:active {
    border: 0;
}

.tpd-cancel-btn {
    width: 120px;
    height: 48px;
    margin: auto;
}
